body {
  background-color: #282c34;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 0px;
  padding-left: calc(5px + 2vmin);
  font-size: calc(50px + 2vmin);
  font-family: "Star Jedi Hollow";
  color: var(--yellow);
  line-height: 1.0;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: calc(10px + 2vmin);
  padding-top: 0px;
  font-size: calc(5px + 2vmin);
  font-family: "Star Jedi";
  color: var(--yellow);
  line-height: 1.0;
}


