$dark: #282c34;
$primary-color: var(--yellow);

body {
  background-color: $dark;
  color: var(--white);
}

.character-card {
  width: 18rem;
}

.film-card {
  width: 26rem;
}

.planet-card {
  width: 18rem;
}

.species-card {
  width: 18rem;
}

.starship-card {
  width: 30rem;
}

.vehicle-card {
  width: 24rem;
}

.card-body {
  background-color: $primary-color;
}

.card-header {
  background-color: $dark;
  color: $primary-color;
}

.card-text {
  color: $dark;
}

.cards-container {
  align-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.instructions {
  color: var(--white);
  font-size: 1.5vmin;
  text-align: center;
}

.content {
  margin-left: calc(5px + 2vmin);
  margin-right: calc(5px + 2vmin);
  margin-top: calc(10px + 2vmin);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 0px;
  padding-left: calc(5px + 2vmin);
  font-size: calc(50px + 2vmin);
  font-family: "Star Jedi Hollow";
  color: $primary-color;
  line-height: 1;
}

.item {
  margin: 1rem;
}

.pad-left-1 {
  padding-left: 1vmin;
}

.pad-right-1 {
  padding-right: 1vmin;
}

.search-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: calc(5px + 2vmin);
  padding-top: 0px;
  font-size: calc(5px + 2vmin);
  font-family: "Star Jedi";
  color: $primary-color;
  line-height: 1;
}

.valign-middle {
  vertical-align: middle;
}

.vspacer1 {
  height: 1em;
}
